@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

.font-rubik {
  font-family: "Rubik Mono One";
  text-shadow: -9px -1px 0px white;
  color: #2f42dc;
  letter-spacing: 2.5px;
}
