@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

.font-rubik {
  font-family: "Rubik Mono One";
  text-shadow: -9px -1px 0px white;
  color: #2f42dc;
  letter-spacing: 2.5px;
}
.font-rubik-inverse {
  font-family: "Rubik Mono One";
  text-shadow: -11px -2px 0px #2f42dc;
  color: white;
  letter-spacing: 2.5px;
}
.rubik {
  font-family: "Rubik Mono One";
}

.kanik {
  font-family: "Kanit";
}

.add-shadow {
  text-shadow: -5px -5px 0px #ff007f, -10px -10px 0px #2f42dc;
  letter-spacing: -12px;
}

.tilt {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.animation {
  animation: animate 2.5s infinite;
}
@keyframes animate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hide-overflow {
  overflow: hidden;
}
